.venv/
.vscode/
__pycache__/
*.pyc
logs/

data/*
!data/.gitkeep
csv-results/*.csv

*.h5
*.keras
*.pkl
*.joblib

reports/task_c*/screenshots/*
!reports/task_c*/screenshots/.gitkeep
docs/*
wiki/*

.ipynb_checkpoints/
.env